*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#game {
    width: 80vh;
    height: 65vw;
    border: 1em double rgb(5, 252, 5);
    padding-left: 15%;
    margin: 10% 10% 10% 10%;
    background-image: url(./img/background1.gif);
    background-size: 100%;
}

#personagem {
    width: 25vh;
    height: 12vw;
    background-image: url(./img/personagem2.gif);
    background-size: 100%; 
    background-position: 0%;
    background-repeat: none;
    position: relative;
    top: 50vh;  
}

.animar{
    animation: personagem 500ms infinite; 
}

@keyframes personagem {
    0% {top: 50vh}
    30% {top: 30vh}
    70% {top: 30vh}
    100% {top: 40vh}
}

#quadrado {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado {
    0% {left: 480px;}
    100% {left: -40px}
}